body {
     text-align:center;
     background-color: deepskyblue;
}



button {
     width: 100px;
     height: 100px;
     padding: 5px;
     margin: 5px;
   

}

table{
     margin-left: auto;
     margin-right: auto;
     table-layout: fixed;
     width: 100px;
}

td{
     width: 33px;
}


.stats-bar{
     

   margin: auto;
  
  

}

ul{
     list-style: none;
}

.game-button{
     background-color: dimgray;
     font-size: 30px;
     color: white;
     text-shadow: -2px 2px black;
}

.game-button:hover{
     background-color: cornflowerblue;
}

#reset{
     height: 50px;
     width: 100px;
     background-color: #ff1954;
     color: white;
     font-size: 20px;
     box-shadow: -2px 2px black;
}

@media (min-width: 400px){
     body{
          display: flex;
          flex-direction: column;
     }
}
.grid{
     min-width: 400px
}