body {
     text-align:center;
}

.grid {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr;
}

button {
     width: 100px;
     height: 100px;
     padding: 5px;
     margin: 5px;
   

}
